<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ServiciosYa</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="index.css" />
</head>

<body>
<header>
    <header class="header">
        <h1 class="h1"><a href="#destino3" title="ServiciosYa" class="a">ServiciosYa</a></h1>
        <nav class="nav">
            <ul class="ul">
                <li class="li"><a href="#destino1" title="about" class="a">¿Quienes somos?</a></li>
                <li class="li"><a href="#destino2" title="servcios" class="a">Servicios</a></li>
                <li class="li"><a href="/registrar" title="registro" class="a">Registro</a></li>
                <li class="li"><a href="/login" title="ingreso" class="a">Ingreso</a></li>
            </ul>
        </nav>
    </header>
</header>
    <div class="seccion" id="destino3">
        <section class="section info">
            <h2 class="h2">BIENVENIDOS</h2>
            <h3 class="h3">ServiciosYa</h3>
            <ul class="ul">
                <li class="li">
                    <a
                            href="/registrar"
                            class="a"
                            title="registro"
                    >REGISTRARSE</a
                    >
                </li>
                <li class="li">
                    <a
                            href="/login"
                            class="a"
                            title="ingresar"
                    >INGRESAR</a
                    >
                </li>
            </ul>
            <p class="p">
                En <span class="destacado">ServiciosYa</span>, nos enfocamos en facilitar la conexión entre usuarios y proveedores confiables para satisfacer tus necesidades de servicios. <br><a href="intermedia.html" class="a">¡Únete hoy mismo!</a>
            </p>
        </section>
    </div>

    <section class="seccion about" id="destino1">
        <h2 class="h2">¿Quienes somos?</h2>
        <p class="p">
            En <span class="destacado">ServiciosYa</span>, conectamos a propietarios, residentes de barrios privados y personas en busca de servicios con proveedores confiables. Nuestra plataforma te ofrece una lista de proveedores calificados por otros usuarios, facilitando la elección de profesionales confiables.
        </p>
        <p class="p">
            Entendemos la dificultad de encontrar proveedores confiables de manera rápida. Por eso, en <span class="destacado">ServiciosYa</span>, hemos creado una comunidad donde los usuarios comparten sus experiencias y puntúan a los proveedores. Esta retroalimentación te brinda mayor seguridad al seleccionar un proveedor de servicios.
        </p>
        <p class="p">
            En <span class="destacado">ServiciosYa</span>, valoramos la transparencia y la confianza. Puedes dejar comentarios y puntuaciones en los perfiles de los proveedores, ayudando a otros usuarios en su decisión.
        </p>
        <p class="p">
            Únete a nuestra comunidad y simplifica tu búsqueda de proveedores confiables. Encuentra profesionales calificados y contribuye a expandir nuestra red de proveedores confiables.
        </p>
    </section>

    <section class="seccion servicios" id="servicios">
        <h2 class="h2" id="destino2">Nuestros Servicios</h2>
        <div class="cajas">
            <div class="caja" id="caja1">
                <div class="contenido"></div><i class="fa-regular fa-lightbulb" style="color: #ffffff;"></i>Electricista
            </div>
            <div class="caja" id="caja2">
                <div class="contenido"></div><i class="fa-solid fa-wrench"></i>Plomero
            </div>
            <div class="caja" id="caja3">
                <div class="contenido"></div><i class="fa-solid fa-fire-burner" style="color: #ffffff;"></i>Gasista
            </div>
            <div class="caja" id="caja4">
                <div class="contenido"></div><i class="fa-sharp fa-solid fa-trowel-bricks"></i>Albañil
            </div>
            <div class="caja" id="caja5">
                <div class="contenido"></div><i class="fa-solid fa-paint-roller" style="color: #ffffff;"></i>Pintor
            </div>
        </div>
        <a
                href="/registrar"
                class="a"
                title="#registro"
        >Registrate Ahora!</a
        >
    </section>
    <footer>
        <footer class="footer">
            <h1 class="h1"><a href="#" title="ServiciosYa" class="a">ServiciosYa</a></h1>
            <nav class="nav">
                <ul class="ul">
                    <li class="li"><a href="#destino3" title="about" class="a">Inicio</a></li>
                    <li class="li"><a href="#destino1" title="about" class="a">¿Quienes somos?</a></li>
                    <li class="li"><a href="#destino2" title="servcios" class="a">Servicios</a></li>
                </ul>
            </nav>
        </footer>
        <div class="footer-bottom">
            <p>&copy; 2023 ServiciosYa. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>