<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/templates.fragments/head :: head"></head>
<link rel="stylesheet" href="intermedia.css" />
<body>
<header>
  <header class="header">
    <a href="/" class="logo">
      <img
              src="Extras/apple-touch-icon.png"
              alt="logo de la compañia"
              class="logo-img"
      />
    </a>
    <nav class="nav">
      <ul class="ul">
        <li class="li"><a href="/" title="inicio" class="a">Inicio</a></li>
        <li class="li"><a href="/login" title="ingreso" class="a">Ingreso</a></li>
      </ul>
    </nav>
  </header>
</header>
  <section class="seccion servicios" id="servicios">
    <h2 class="h2">¿Cómo desea Registrarse?</h2>
    <div class="cajas">
      <form action="/cliente" method="GET">
        <button class="caja" id="caja1">
          <div class="contenido"></div><i class="fa-solid fa-user" style="color: #ffffff;"></i>Cliente
        </button>
      </form>
      <form action="/proveedor" method="GET">
        <button class="caja" id="caja2">
          <div class="contenido"></div><i class="fa-solid fa-wrench"></i>Proveedor
        </button>
      </form>
    </div>
  </section>
</body>
</html>