<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ServiciosYa</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap"
          rel="stylesheet"
  />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="intermedia.css" />
</head>

<body>
<header>
  <header class="header">
    <h1 class="h1"><a href="/" title="ServiciosYa" class="a">ServiciosYa</a></h1>
    <nav class="nav">
      <ul class="ul">
        <li class="li"><a href="/" title="inicio" class="a">Inicio</a></li>
        <li class="li"><a href="/login" title="ingreso" class="a">Ingreso</a></li>
      </ul>
    </nav>
  </header>
</header>
  <section class="seccion servicios" id="servicios">
    <h2 class="h2">¿Cómo desea Registrarse?</h2>
    <div class="cajas">
      <form action="/cliente" method="get">
        <button class="caja" id="caja1">
          <div class="contenido"></div><i class="fa-solid fa-user" style="color: #ffffff;"></i>Cliente
        </button>
      </form>
      <form action="/proveedor" method="get">
        <button class="caja" id="caja2">
          <div class="contenido"></div><i class="fa-solid fa-wrench"></i>Proveedor
        </button>
      </form>


    </div>
  </section>
</body>
</html>