<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <script src="https://kit.fontawesome.com/be3d3214ac.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="estilos.css"
</head>
<body>

    <form class="formulario">

        <h1>Login</h1>
        <div class="contenedor">

        <div class="input contenedor">
        <i class="fa-solid fa-envelope icon"></i>
        <input type="text" placeholder="Correo Electrónico">
        </div>

        <div class="input contenedor">
        <i class="fa-solid fa-key icon"></i>
        <input type="password" placeholder="Contraseña">
        </div>
        <input type="submit" value="Login" class="button">
        <p>Al registrarte aceptas nuestras Condiciones de uso y nuestra Política de privacidad.</p>
        <p>No tienes cuenta? Unete a nosotros.<a class="link" href="register.html">Regístrate</a></p>

    </form>
    
</body>
</html>