<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/templates.fragments/head :: head"></head>
<link rel="stylesheet" type="text/css" href="estilos.css"/>
<body>

    <header>
        <header class="header">
            <a href="/" class="logo">
                <img
                        src="Extras/apple-touch-icon.png"
                        alt="logo de la compañia"
                        class="logo-img"
                />
            </a>
            <nav class="nav">
                <ul class="ul">
                    <li class="li"><a href="/registrar" title="registro" class="a">Registro</a></li>
                    <li class="li"><a href="/" title="inicio" class="a">Inicio</a></li>
                </ul>
            </nav>

        </header>
    </header>

    <div th:replace="/templates.fragments/msgExitoError :: div"></div>

    <form class="formulario" method="POST" th:action="@{/logincheck}">
        <h1>Iniciar Sesión</h1>
        <div class="contenedor">

        <div class="input contenedor">
        <i class="fa-solid fa-envelope icon"></i>
        <input type="text" name="emailUsuario" placeholder="Correo Electrónico"/>
        </div>

        <div class="input contenedor">
        <i class="fa-solid fa-key icon"></i>
        <input type="password" name="passwordUsuario" placeholder="Contraseña"/>
        </div>
        <input type="submit" value="Iniciar Sesión" class="button"/>
        <p>Al registrarte aceptas nuestras Condiciones de uso y nuestra Política de privacidad.</p>
        <p>No tienes cuenta? Unete a nosotros.<a class="link" href="/registrar">Regístrate</a></p>
        </div>
    </form>

</body>
</html>