<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/templates.fragments/head :: head"></head>
<link rel="stylesheet" type="text/css" href="/css/estilos.css"/>
<body>
<header th:replace="/templates.fragments/NavBar :: header" class="header"></header>

<div th:replace="/templates.fragments/msgExitoError :: div"></div>

<section class="seccion form">
<form th:action="@{/proveedor/modificar/__${session.usuarioSesion.id}__}" method="post" enctype="multipart/form-data" class="formulario">
  <input hidden th:value="${id}" name="id">
  <h1>Modificar Perfil</h1>
  <div class="contenedor">
    <div class="input contenedor">
      <i class="fa-solid fa-user icon"></i>
      <input type="text" name="nombre" th:value="${session.usuarioSesion.nombre}"/>
    </div>

    <div class="input contenedor">
      <i class="fa-solid fa-user icon"></i>
      <input type="text" name="apellido" th:value="${session.usuarioSesion.apellido}"/>
    </div>


    <div class="input contenedor">
      <i class="fa-solid fa-phone icon"></i>
      <input type="text" name="telefono" th:value="${session.usuarioSesion.telefono}"/>
    </div>

    <div class="input contenedor">
      <i class="fa-solid fa-screwdriver-wrench icon"></i>
      <label for="servicio">Qué servicios va a ofrecer:</label>
      <div id="servicio" class="checkbox-container">
        <div th:each="oficio : ${oficiosList}">
          <input th:id="${oficio.id}" type="checkbox" name="oficios" th:value="${oficio.id}" />
          <label th:for="${oficio.id}" th:text="${oficio.nombre}"></label>
        </div>
      </div>
    </div>

    <div class="input contenedor">
      <i class="fa-solid fa-image icon"></i>
      <input type="file" name="imagen" placeholder="Imagen de perfil" accept="image/*" onchange="previewImage(event)">
      <div class="image-container">
        <img id="preview" alt="Image Preview" style="max-width: 200px; max-height: 200px; display: none;">
      </div>

    </div>

    <div class="input contenedor">
      <i class="fa-solid fa-key icon"></i>
      <input type="password" name="password" placeholder="Contraseña" />
    </div>

    <p class="p">(La contraseña debe tener minimo 8 caracteres)</p>

    <div class="input contenedor">
      <i class="fa-solid fa-key icon"></i>
      <input type="password" name="password2" placeholder="Confirmar Contraseña" />
    </div>
    <input type="submit" value="Modificar" class="button" />
  </div>
</form>
</section>
</div>

</body>
<script>
    function previewImage(event) {
  var input = event.target;
  var preview = document.getElementById('preview');

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      preview.src = e.target.result;
      preview.style.display = 'block';
    }

    reader.readAsDataURL(input.files[0]);
  }
}
  </script>
</html>