<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/templates.fragments/head :: head"></head>
<link rel="stylesheet" type="text/css" href="/css/estilos.css"/>
<body>
<header th:replace="/templates.fragments/NavBar :: header" class="header"></header>

<div th:replace="/templates.fragments/msgExitoError :: div"></div>

<section class="seccion form">
<form th:action="@{/admin/modificar/__${session.usuarioSesion.id}__}" method="post" enctype="multipart/form-data" class="formulario">
    <input hidden th:value="${id}" name="id">
  <h1>Modificar Perfil</h1>
  <div class="contenedor">
    <div class="input contenedor">
      <i class="fa-solid fa-user icon"></i>
      <input type="text" name="nombre" th:value="${session.usuarioSesion.nombre}"/>
    </div>

    <div class="input contenedor">
      <i class="fa-solid fa-user icon"></i>
      <input type="text" name="apellido" th:value="${session.usuarioSesion.apellido}" />
    </div>
    
    <div class="input contenedor">
        <i class="fa-solid fa-phone icon"></i>
        <input type="text" name="telefono" th:value="${session.usuarioSesion.telefono}" />
    </div>

    <div class="input contenedor">
      <i class="fa-solid fa-key icon"></i>
      <input type="password" name="password" placeholder="Contraseña" />
    </div>

    <p class="p">(La contraseña debe tener minimo 7 caracteres)</p>

    <div class="input contenedor">
      <i class="fa-solid fa-key icon"></i>
      <input type="password" name="password2" placeholder="Confirmar Contraseña" />
    </div>
    <input type="submit" value="Modificar" class="button" />
  </div>
</form>
</section>
</div>

</body>
</html>