<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/templates.fragments/head :: head"></head>
<link rel="stylesheet" type="text/css" href="estilos.css"/>
  <body>
    <header>
      <header class="header">
        <a href="/" class="logo">
          <img
                  src="Extras/apple-touch-icon.png"
                  alt="logo de la compañia"
                  class="logo-img"
          />
        </a>
        <nav class="nav">
          <ul class="ul">
            <li class="li"><a href="/" title="inicio" class="a">Inicio</a></li>
            <li class="li"><a href="/login" title="ingreso" class="a">Ingreso</a></li>
          </ul>
        </nav>

      </header>

    </header>

    <div th:replace="/templates.fragments/msgExitoError :: div"></div>

    <form action="/proveedor/registro" method="post" enctype="multipart/form-data" class="formulario">
      <h1>Regístrate</h1>
      <div class="contenedor">
        <div class="input contenedor">
          <i class="fa-solid fa-user icon"></i>
          <input type="text" name="nombre" placeholder="Nombre" />
        </div>

        <div class="input contenedor">
          <i class="fa-solid fa-user icon"></i>
          <input type="text" name="apellido" placeholder="Apellido" />
        </div>

        <div class="input contenedor">
          <i class="fa-solid fa-envelope icon"></i>
          <input type="text" name="email" placeholder="Correo Electrónico" />
        </div>

        <div class="input contenedor">
          <i class="fa-solid fa-phone icon"></i>
          <input type="text" name="telefono" placeholder="Teléfono" />
        </div>

        <div class="input contenedor">
          <i class="fa-solid fa-house icon"></i>
          <input type="text" name="direccion" placeholder="Dirección" />
        </div>

        <div class="input contenedor">
          <i class="fa-solid fa-screwdriver-wrench icon"></i>
          <label for="servicio">Qué servicios va a ofrecer:</label>
          <div id="servicio" class="checkbox-container">
            <div>
              <input
                id="electricista"
                type="checkbox"
                name="oficios"
                value="electricista"
              />
              <label for="electricista">Electricista</label>
            </div>
            <div>
              <input
                id="plomero"
                type="checkbox"
                name="oficios"
                value="plomero"
              />
              <label for="plomero">Plomero</label>
            </div>
            <div>
              <input
                id="gasista"
                type="checkbox"
                name="oficios"
                value="gasista"
              />
              <label for="gasista">Gasista</label>
            </div>
            <div>
              <input
                id="albañil"
                type="checkbox"
                name="oficios"
                value="albañil"
              />
              <label for="albañil">Albañil</label>
            </div>
            <div>
              <input
                id="pintor"
                type="checkbox"
                name="oficios"
                value="pintor"
              />
              <label for="pintor">Pintor</label>
            </div>
          </div>
        </div>

        <div class="input contenedor">
          <i class="fa-solid fa-image icon"></i>
          <input
            type="file"
            accept="image/*"
            id="imagen"
            name="imagen"
            placeholder="Imagen de perfil"
          />
        </div>

        <div class="input contenedor">
          <i class="fa-solid fa-key icon"></i>
          <input type="password" name="password" placeholder="Contraseña" />
        </div>

        <div class="input contenedor">
          <i class="fa-solid fa-key icon"></i>
          <input type="password" name="password2" placeholder="Confirmar Contraseña" />
        </div>
        <input type="submit" value="Regístrate" class="button" />
        <p>
          Al registrarte aceptas nuestras Condiciones de uso y nuestra Política
          de privacidad.
        </p>
        <p>
          Ya tienes una cuenta?<a class="link" href="/login"
            >Iniciar Sesión</a>
        </p>
      </div>
    </form>

    </div>

  </body>
</html>
