<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login y Register</title>
    <script
      src="https://kit.fontawesome.com/be3d3214ac.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/estilos.css"
  </head>

  <body>
    <header>
      <a href="index.html" class="logo">
        <img
          src="/static/Extras/apple-touch-icon.png"
          alt="logo de la compañia"
          class="logo-img"
        />
      </a>
    </header>

    <form class="formulario">
      <h1>Regístrate</h1>
      <div class="contenedor">
        <div class="input contenedor">
          <i class="fa-solid fa-user icon"></i>
          <input type="text" placeholder="Nombre" />
        </div>

        <div class="input contenedor">
          <i class="fa-solid fa-user icon"></i>
          <input type="text" placeholder="Apellido" />
        </div>

        <div class="input contenedor">
          <i class="fa-solid fa-envelope icon"></i>
          <input type="text" placeholder="Correo Electrónico" />
        </div>

        <div class="input contenedor">
          <i class="fa-solid fa-phone icon"></i>
          <input type="text" placeholder="Teléfono" />
        </div>

        <div class="input contenedor">
          <i class="fa-solid fa-house icon"></i>
          <input type="text" placeholder="Dirección" />
        </div>

        <div class="input contenedor">
          <i class="fa-solid fa-screwdriver-wrench icon"></i>
          <label for="servicios">Qué servicios va a ofrecer:</label>
          <div class="checkbox-container">
            <div>
              <input
                id="electricista"
                type="checkbox"
                name="servicios"
                value="electricista"
              />
              <label for="electricista">Electricista</label>
            </div>
            <div>
              <input
                id="plomero"
                type="checkbox"
                name="servicios"
                value="plomero"
              />
              <label for="plomero">Plomero</label>
            </div>
            <div>
              <input
                id="gasista"
                type="checkbox"
                name="servicios"
                value="gasista"
              />
              <label for="gasista">Gasista</label>
            </div>
            <div>
              <input
                id="albañil"
                type="checkbox"
                name="servicios"
                value="albañil"
              />
              <label for="albañil">Albañil</label>
            </div>
            <div>
              <input
                id="pintor"
                type="checkbox"
                name="servicios"
                value="pintor"
              />
              <label for="pintor">Pintor</label>
            </div>
          </div>
        </div>

        <div class="input contenedor">
          <i class="fa-solid fa-image icon"></i>
          <input
            type="file"
            accept="image/*"
            id="imagen"
            name="imagen"
            placeholder="Imagen de perfil"
          />
        </div>

        <div class="input contenedor">
          <i class="fa-solid fa-key icon"></i>
          <input type="password" placeholder="Contraseña" />
        </div>

        <div class="input contenedor">
          <i class="fa-solid fa-key icon"></i>
          <input type="password" placeholder="Confirmar Contraseña" />
        </div>
        <input type="submit" value="Regístrate" class="button" />
        <p>
          Al registrarte aceptas nuestras Condiciones de uso y nuestra Política
          de privacidad.
        </p>
        <p>
          Ya tienes una cuenta?<a class="link" href="Login.html"
            >Iniciar Sesión</a
          >
        </p>
      </div>
    </form>
  </body>
</html>
