<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/templates.fragments/head :: head"></head>
<link rel="stylesheet" type="text/css" href="/css/index.css"/>
<body>
<header th:replace="/templates.fragments/NavBar :: header" class="header"></header>

<div th:replace="/templates.fragments/msgExitoError :: div"></div>

<section class="seccion formulario">
    <form th:action="@{/solicitud/modificar/__${solicitud.id}__}" method="POST" class="formulario">

        <h1>SOLICITUD</h1>
        <div class="contenedor">

            <input type="hidden" id="estado" name="estado" value="PENDIENTE"/>

            <h2 th:text="${status}"></h2>

            <div sec:authorize="hasRole('USER')" class="input contenedor">
                    <textarea
                            type="text"
                            name="descripcion"
                            th:text="${solicitud.descripcion}"
                            rows="15" cols="50"
                            th:readonly="${status != 'PENDIENTE'}"
                    ></textarea>
            </div>
            <div sec:authorize="hasRole('PROVEEDOR')" class="input contenedor">
                    <textarea
                            type="text"
                            name="descripcion"
                            th:text="${solicitud.descripcion}"
                            rows="15" cols="50"
                            readonly
                    ></textarea>
            </div>

            <div sec:authorize="hasRole('PROVEEDOR')" class="input contenedor">
                <input th:value="${solicitud.costo}" type="number" name="costo" th:readonly="${status != 'PENDIENTE' && status != 'PRESUPUESTADO'}"/>
            </div>
            <div sec:authorize="hasRole('USER')" class="input contenedor">
                <input th:value="${solicitud.costo}" type="text" name="costo" readonly/>
            </div>

                <div sec:authorize="hasRole('USER')" class="button-container2">
                     <input th:if="${status == 'PENDIENTE'}" type="submit" value="Modificar" class="button" />
                     <input th:if='${status == "PRESUPUESTADO"}' type="submit" value="Aceptar" onclick="enviarEstado('ACEPTADO')" class="button" />
                     <input th:if="${status == 'PRESUPUESTADO'}" type="submit" value="Rechazar" onclick="enviarEstado('CANCELADO')" class="button" />
                     <input th:if="${status == 'ACEPTADO'}" type="submit" value="Cancelar" onclick="enviarEstado('CANCELADO')" class="button" />

                </div>

                <div sec:authorize="hasRole('PROVEEDOR')" class="button-container2">
                    <input th:if="${status == 'PENDIENTE'}" type="submit" value="Presupuestar" onclick="enviarEstado('PRESUPUESTADO')"  class="button"/>
                    <input th:if="${status == 'PRESUPUESTADO'}" type="submit" value="Modificar" class="button" />
                    <input th:if="${status == 'ACEPTADO'}" type="submit" value="Finalizar" onclick="enviarEstado('FINALIZADO')" class="button" />
                    <input th:if="${status == 'ACEPTADO'}" type="submit" value="Cancelar" onclick="enviarEstado('CANCELADO')" class="button" />
                </div>
        </div>
    </form>
    <form th:action="@{/proveedor/calificar/__${solicitud.proveedor.id}__}" method="POST" class="formulario" th:if="${status == 'FINALIZADO' || status == 'CANCELADO'}" sec:authorize="hasRole('USER')">
        <h1> CALIFICA AL PROVEEDOR</h1>
        <div  class="input contenedor">
            <select name="estrellas">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <textarea
                    type="text"
                    name="comentario"
                    rows="15" cols="50"
            ></textarea>
        </div>
        <div class="button-container2">
            <input th:if="${status == 'FINALIZADO' || status == 'CANCELADO'}" type="submit" value="Calificar" class="button" />
        </div>
    </form>
</section>
<script>
    function enviarEstado(status) {
        var estado = document.getElementById("estado");
        estado.value = status;
    }
    fuction calificar() {

    }
</script>
</body>
</html>