<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/templates.fragments/head :: head"></head>
<link rel="stylesheet" type="text/css" href="/css/index.css" />

<body>

<header th:replace="/templates.fragments/NavBar :: header" class="header"></header>

<div th:replace="/templates.fragments/msgExitoError :: div"></div>
<section sec:authorize="hasRole('USER')" class="seccion tarjetas">
    <div th:each="proveedor : ${proveedores}">
        <div class="card">
            <img th:src="@{/imagen/proveedor/__${proveedor.id}__}" alt="Foto de Perfil" class="foto">
            <div class="card-title">
                <h2 th:text="${proveedor.nombre} +' '+ ${proveedor.apellido} "></h2>
                <div class="card-text">
                    <p th:src="@{/proveedor/calificacion/__${proveedor.id}__}"></p><i class="fa-solid fa-star" style="color: #ffc700;"></i>
                </div>
            </div>
            <div class="button-container">
                <form th:action="@{/proveedor/perfil/__${proveedor.id}__}">
                    <button class="button">Perfil</button>
                </form>
                <form th:action="@{/solicitud/registro/__${proveedor.id}__}">
                    <button class="button">Solicitar</button>
                </form>

            </div>
        </div>
    </div>
</section>
</body>

<footer th:replace="/templates.fragments/footer :: footer" class="footer"></footer>
</body>
</html>