<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/templates.fragments/head :: head"></head>
<link rel="stylesheet" type="text/css" href="/css/index.css" />

<body>

<header th:replace="/templates.fragments/NavBar :: header" class="header"></header>

<div th:replace="/templates.fragments/msgExitoError :: div"></div>
<section th:if="${session.usuarioSesion != null}" class="seccion bienvenida">
    <h2 class="h2"  th:text=" 'Hola de nuevo ' + ${session.usuarioSesion.nombre}" ></h2>
    <h3 class="h3" sec:authorize="hasRole('PROVEEDOR')" >Perfil de Proveedor</h3>
    <h3 class="h3" sec:authorize="hasRole('USER')" >Perfil de Cliente</h3>
    <h3 class="h3" sec:authorize="hasRole('ADMIN')" >Perfil de Administrador</h3>
    <div sec:authorize="hasRole('PROVEEDOR')" class="cajas">
        <form th:action="@{/solicitud/listar/__${session.usuarioSesion.id}__}" method="get">
            <button class="caja" id="caja1">
                <div class="contenido">Nuevas <br> Solicitudes</div>
            </button>
        </form>
        <form th:action="@{/solicitud/listar/__${session.usuarioSesion.id}__}" method="get">
            <button class="caja" id="caja2">
                <div class="contenido">Trabajos <br> Activos</div>
            </button>
        </form>
    </div>
    <div sec:authorize="hasRole('ADMIN')" class="cajas">
        <form action="/comentario/listar" method="get">
            <button class="caja" id="caja3">
                <div class="contenido">Tabla <br> Comentarios</div>
            </button>
        </form>
        <form action="/cliente/listar" method="get">
            <button class="caja" id="caja4">
                <div class="contenido">Tabla <br> Clientes</div>
            </button>
        </form>
        <form action="/proveedor/listar" method="get">
            <button class="caja" id="caja5">
                <div class="contenido">Tabla <br> Proveedores</div>
            </button>
        </form>
        <form action="/oficio/listar" method="get">
            <button class="caja" id="caja6">
                <div class="contenido">Tabla <br> Oficios</div>
            </button>
        </form>
        <form action="/oficio/registro" method="get">
            <button class="caja" id="caja7">
                <div class="contenido">Nuevo <br> Oficio</div>
            </button>
        </form>
    </div>

    <div sec:authorize="hasRole('USER')" class="cajas">
        <div th:each="oficio : ${oficiosList}">
            <form th:action="@{/proveedor/listar/__${oficio.id}__}" method="get">
                <button  th:text="${oficio.nombre}" th:classappend=" (${oficio.colorTarjeta}) ? 'caja1' : 'caja2'" th:value="${oficio.id}" th:onclick="" class="caja"></button>
            </form>
        </div>

    </div>

</section>

<footer th:replace="/templates.fragments/footer :: footer" class="footer"></footer>
</body>
</html>