<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/templates.fragments/head :: head"></head>
<link rel="stylesheet" type="text/css" href="index.css" />

<body>

<header th:replace="/templates.fragments/NavBar :: header" class="header"></header>


<section class="seccion bienvenida">
    <h2 class="h2" th:if="${session.usuarioSesion != null}" th:text=" 'Hola de nuevo ' + ${session.usuarioSesion.nombre}" ></h2>
</section>

<footer th:replace="/templates.fragments/footer :: footer" class="footer"></footer>
</body>
</html>