<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/templates.fragments/head :: head"></head>
<link rel="stylesheet" type="text/css" href="index.css" />

<body>

<header th:replace="/templates.fragments/NavBar :: header" class="header"></header>


<section th:if="${session.usuarioSesion != null}" class="seccion bienvenida">
    <h2 class="h2"  th:text=" 'Hola de nuevo ' + ${session.usuarioSesion.nombre}" ></h2>
    <h3 class="h3" sec:authorize="hasRole('PROVEEDOR')" >Perfil de proveedor</h3>
    <div class="cajas">
        <form action="/cliente/solicitudes" method="get">
            <button class="caja" id="caja1">
                <div class="contenido">Nuevas <br> Solicitudes</div>
            </button>
        </form>
        <form action="/proveedor/trabajos" method="get">
            <button class="caja" id="caja2">
                <div class="contenido">Trabajos <br> Activos</div>
            </button>
        </form>
    </div>
</section>

<footer th:replace="/templates.fragments/footer :: footer" class="footer"></footer>
</body>
</html>