<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Perfil de Usuario-Cliente</title>
  <link rel="stylesheet" type="text/css" href="/css/perfiles.css">
</head>
<body>
    <header>
        <header class="header">
          <a href="/" class="logo">
            <img
                    src="/img/apple-touch-icon.png"
                    alt="logo de la compañia"
                    class="logo-img"
                    />
          </a>
          <nav class="nav">
            <ul class="ul">
              <li class="li"><a href="/" title="inicio" class="a">Inicio</a></li>
            </ul>
          </nav>
        </header>
    </header>
  <div class="profile">
    <div class="profile-header">
      <h1 th:text="${cliente.nombre} +' '+ ${cliente.apellido}"></h1>
      <hr>
    </div>
    <div class="profile-details">
      <p><span class="label">Correo Electrónico:</span><span th:text="${cliente.email}"></span></p>
      <p><span class="label">Teléfono:</span><span th:text="${cliente.telefono}"></span> </p>
      <p><span class="label">Dirección:</span><span th:text="${cliente.direccion}"></span> </p>
    </div>
    <a th:href="@{/cliente/modificar/__${cliente.id}__}" class="boton">Modificar Perfil</a>
  </div>
</body>
</html>