<footer>
    <footer class="footer">
        <a href="/" class="logo">
            <img
                    src="Extras/apple-touch-icon.png"
                    alt="logo de la compañia"
                    class="logo-img"
            />
        </a>
        <nav class="nav">
            <ul class="ul">
                <li class="li"><a href="/" title="logout" class="a">Logout</a></li>
            </ul>
        </nav>
    </footer>
    <div class="footer-bottom">
        <p>&copy; 2023 ServiciosYa. Todos los derechos reservados.</p>
    </div>
</footer>