<header>
    <header class="header">
        <a href="/" class="logo">
            <img
                    src="Extras/apple-touch-icon.png"
                    alt="logo de la compañia"
                    class="logo-img"
            />
        </a>
        <nav class="nav">
            <ul class="ul">
                <li class="li"><a href="#destino1" title="about" class="a">¿Quienes somos?</a></li>
                <li class="li"><a href="#destino2" title="servcios" class="a">Servicios</a></li>
                <li class="li"><a href="/registrar" title="registro" class="a">Registro</a></li>
                <li class="li"><a href="/login" title="ingreso" class="a">Ingreso</a></li>
            </ul>
        </nav>
    </header>
</header>