@charset "UTF-8";

/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  --blanco: #f0f0f0;
  /* Tipografía */
  --tipo-titular: "Playfair Display", serif;
  --tipo-principal: "Inter", sans-serif;
}

/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
/*a,*/
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  background-color: #2a9d8f;
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100%;
  min-height: 5em;
  padding: 1em 2em;
  background-color: #264653;
  color: var(--blanco);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header .ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header .li {
  margin: 0 1.5em;
  font-size: 1em;
}
.header .li:hover {
  color: #f4a261;
}

.tabla{
min-height: 80vh;
padding: 3em;
}

.footer {
  width: 100%;
  min-height: 5em;
  padding: 1em 2em;
  background-color: #264653;
  color: var(--blanco);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.footer .h1 {
  font-size: 2em;
  font-family: var(--tipo-titular);
  font-style: italic;
  font-weight: 600;
  color: #e76f51;
}
.footer .h1:hover {
  color: #f4a261;
}
.footer .ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.footer .li {
  margin: 0 1.5em;
  font-size: 1em;
}
.footer .li:hover {
  color: #f4a261;
}
.footer-bottom {
  background-color: #264653;
  border-top: 1px solid #ddd;
  padding-top: 1em;
  font-size: 0.9em;
}

.footer-bottom p {
  margin: 0;
  color: #777;
  text-align: center;
}

.footer-bottom p a {
  color: #777;
  text-decoration: none;
}

.footer-bottom p a:hover {
  text-decoration: underline;
}

@keyframes aparecer1 {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.modificara:hover {
  color: blue
}
.eliminara:hover {
  color: red
}
.rol:hover {
  color:green
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.verde {
  background-color: green;
}

.rojo {
  background-color: red;
}
.secciontabla {
    padding: 2rem;
}

.msgexito {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_body1 {
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  outline: none;
  border-radius: 30px;
  color: #fff;
  padding: 0 0 0 45px;
  background-color: #264653;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 2.5rem;
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid orange;
}
.msgerror {
display: flex;
justify-content: center;
align-items: center;
}
.card_body {
width: 650px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
outline: none;
border-radius: 30px;
color: #fff;
padding: 0 0 0 45px;
background-color: #E76F51;
padding: 1rem;
font-size: 1rem;
margin-top: 2.5rem;
margin-left: 15%;
margin-right: 15%;
border: 1px solid orange;
}

.soli:hover {
color:"yellow"
}

