@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  --blanco: #f0f0f0;
  /* Tipografía */
  --tipo-titular: "Playfair Display", serif;
  --tipo-principal: "Inter", sans-serif;
}

/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
/*img,*/
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  background-color: #2A9D8F;
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
  margin-left: var(--width-collapsed);
  padding: 0;
  margin: 0;
} 

.header {
  width: 100%;
  min-height: 5em;
  padding: 1em 2em;
  background-color: #264653;
  color: var(--blanco);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header .ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header .li {
  margin: 0 1.5em;
  font-size: 1em;
}
.header .li:hover {
  color: #f4a261;
}
  .seccion {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 60%);
    border-radius: 20px;
    padding: 70px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    line-height: 1,5;
  }
  .profile-detalles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile h1 {
    font-family: var(--tipo-principal);
          font-weight: 600;
          max-width: 70rem;
          font-size: 1.5em;
          margin:1em;
  }
  
  .profile p {
    margin:1em;
  }
  .card-text {
    display: flex;
    align-items: center;
  }
  .card-text .fa-solid fa-star{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  .profile .label {
    font-weight: bold;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
  }

  .button {
    margin: 1em;
    padding: 10px 20px;
    background-color: #264653;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }
  .button:hover {
    transform: scale(1.05);
  }
  .imagen {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .foto{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
    border: 1px solid black;
  }
   .msgexito {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card_body1 {
        width: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        outline: none;
        border-radius: 30px;
        color: #fff;
        padding: 0 0 0 45px;
        background-color: #264653;
        padding: 1rem;
        font-size: 1rem;
        margin-top: 2.5rem;
        margin-left: 15%;
        margin-right: 15%;
        border: 1px solid orange;
    }
    .msgerror {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card_body {
      width: 650px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      outline: none;
      border-radius: 30px;
      color: #fff;
      padding: 0 0 0 45px;
      background-color: #E76F51;
      padding: 1rem;
      font-size: 1rem;
      margin-top: 2.5rem;
      margin-left: 15%;
      margin-right: 15%;
      border: 1px solid orange;
    }