/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  --blanco: #f0f0f0;
  /* Tipografía */
  --tipo-titular: "Playfair Display", serif;
  --tipo-principal: "Inter", sans-serif;
}
/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  background-color: #2a9d8f;
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.header {
    width: 100%;
    min-height: 5em;
    padding: 1em 2em;
    background-color: #264653;
    color: var(--blanco);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  .header .h1:hover {
    color: #f4a261;
  }
  .header .ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  .header .li {
    margin: 0 2em;
    font-size: 1.2em;
  }
  .header .li:hover {
    color: #f4a261;
  }


body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background-color: #2A9D8F;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

* {
    box-sizing:border-box;
}
.contenedor{
    width: 100%;
    padding: 7px;
}
 
.formulario{
    background: rgba(255, 255, 255, 60%);
    margin-top: 150px;
    padding: 15px;
    width: 100px;
}
h1{
    text-align:center;
    color:#1a2537;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width:82%;
    padding: 10px;
    border-color: #E9C46A;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color:#131212;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: #264653;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}
.link:hover{
    color:#264653;
}
@media(min-width:768px)
{
  .formulario{
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%;
  }  
}
.footer .h1 {
    font-size: 2em;
    font-family: var(--tipo-titular);
    font-style: italic;
    font-weight: 600;
    color: #d86143;
  }
  
  .checkbox-container {
    margin-top: 10px;
  }
  
  .checkbox-container div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 5px;
    margin-left: 53px;
  }
  
  .checkbox-container label {
    font-size: 18px;
    color: #1a2537;
  }

  .msgexito {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .card_body1 {
      width: 650px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      outline: none;
      border-radius: 30px;
      color: #fff;
      padding: 0 0 0 45px;
      background-color: #264653;
      padding: 1rem;
      font-size: 1rem;
      margin-top: 2.5rem;
      margin-left: 15%;
      margin-right: 15%;
      border: 1px solid orange;
  }
  .msgerror {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card_body {
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 45px;
    background-color: #E76F51;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 2.5rem;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid orange;
  }